.cards-list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0;
   padding: 30px;
   list-style: none;
}

.cards-list li {
   width: 258px;
   padding: 24px 32px;
   background-color: #fff;
   border: 1px solid #DFE0EB;
   border-radius: 8px;
}

.cards-list li:hover {
   cursor: pointer;
   border: 1px solid #3751FF;
   color: #3751FF;
}

.cards-list li p {
   font-weight: 700;
   font-size: 19px;
   line-height: 24px;
   text-align: center;
   letter-spacing: 0.4px;
   color: #9FA2B4;
}

.cards-list li span {
   display: block;
   font-weight: 700;
   font-size: 40px;
   line-height: 50px;
   text-align: center;
   letter-spacing: 1px;
   color: #252733;
}

